html, body{
    padding: 0;
    margin: 0;
    background-color: #000000 ;
}

@font-face {
    font-family: slavic;
    src: url('../fonts/slavic.ttf');
}

body::-webkit-scrollbar{height: 5px; background-color: transparent;}
body::-webkit-scrollbar-thumb{background-color: #c56700e3; border: none; border-radius: 5px; height: 5px;}
body::-webkit-slider-track{border-color: aquamarine;}

:root{
    --header: black; 
}

header{
    background-color: var(--header);
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    z-index: 5;
    user-select: none;
    margin: 0;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {display: inline-block; float: right;}
header ul .logo{float:left; font-family: slavic;}
header ul .logo a{font-size: 20pt;}
header ul .pusto{width: 5%; height: 1px;}


header ul a {
    padding: 18px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: .2s;
    position: relative;
    top: 0;
}
header a:hover{
    background-color: #c56700e3;
}
